<div class="row">
    <div class="col-12">
        <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-12">
                    <button type="submit" class="btn btn-primary" [disabled]="!recipeForm.valid">Save</button>
                    <button class="btn btn-danger ms-1" (click)="onCancel()">Cancel</button>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input 
                            type="text" 
                            class="form-control" 
                            id="name" 
                            formControlName="name">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label for="imagePath">Image URL</label>
                        <input 
                            type="text" 
                            class="form-control" 
                            id="imagePath"
                            formControlName="imagePath"
                            #imagePath>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <img *ngIf="imagePath.value"
                            [src]="imagePath.value" 
                            alt="No image" 
                            class="img-responsive"
                            style="height: 450px; width: 500px; margin-top: 10px;"
                        >
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea 
                            type="text" 
                            row="6" 
                            class="form-control" 
                            id="description"
                            formControlName="description"></textarea>
                    </div>
                </div>
            </div>            
            <div class="row my-2">
                <div class="col-12" formArrayName="ingredients">
                    <div class="row my-1" 
                        *ngFor="let ingredientControl of controls; let i=index"
                        [formGroupName]="i">
                        <div class="col-8">
                            <input type="text" class="form-control" id="name" formControlName="name">
                        </div>
                        <div class="col-2">
                            <input type="number" class="form-control" id="amount" formControlName="amount">
                        </div>
                        <div class="col-2">
                            <button type="button" class="btn btn-danger" (click)="onDeleteIngredient(i)">X</button>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-12">
                            <button type="button" class="btn btn-success" (click)="onAddIngredient()">Add Ingredient</button>
                        </div>
                    </div>      
                </div>
            </div>
        </form>
    </div>
</div>